body {
  background-color: #f7f7f7;
}

#img-portifolio{
  width: 100%;
  max-width: 180px;
}
#icon{
  width: 100%;
  max-width: 180px;
}

footer{
  display: flex;

  position: fixed;
  bottom: 0;
  left: 0;
}