:root {
  --text: black;
  --cor1: #27313Eff;
  --cor2: #759A78ff;
  --cor3: #3A9074ff;
  --cor4: #006053ff;
  --cor5: #004243ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

body {
  height: 100vh;
  background: linear-gradient(
    -45deg,
    var(--cor1) 0%,

    var(--cor2)25%,

    var(--cor3) 50%,

    var(--cor4)75%,

    var(--cor5) 100%
  );
  background-size: 400% 400%;
  position: relative;
  animation: animate 7.5s ease-in-out infinite;
}

h1 {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
a {
  text-decoration: none;
  color: var(--text);
}
a:hover {
  text-decoration: none;
  color: var(--text);
}
.profile {
  max-width: 100px;
}
.card {
  max-width: 600px;
  margin: auto;
  color: var(--text);
}
footer {
  color: var(--text);
}

.button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
