@media screen and (max-width: 500px) {
  .profile_text h1 {
    font-size: 1rem;
  }
  .profile_info {
    width: auto;
    padding: 0 10%  0 10%;
    height: auto;
  }
  .container .estatico {
    margin: 0;
    padding: 5px;
    font-size: 0.7rem;
  }
  .container p {
    font-size: 1rem;
    padding: 0;
  }
  .profile_social {
    width: 100%;
    margin: 0;
  }
  .profile_social img {
    height: 25px;
    margin: 0;
  }
  .menu button {
    margin-top: 10px;
    height: 30px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 0.9rem;
}
footer {
    height: 25px;
    font-size: 0.7rem;

  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  .profile_text h1 {
    font-size: 1.4rem;
    margin: 0;
  }
  .container .estatico {
    font-size: 1.2rem;
  }

}
@media screen and (min-width: 800px) {
  header {
    display: flex;
    justify-content: center;
  }
  .profile_info {
    width: 630px;
    height: 220px;
  }
  .profile_foto {
    width: 220px;
  }
}
